@import "_normalize.scss";
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500');

$theme-color: #3874D6;
$button-color: #3879E0;
$link-color: #2869D1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  border-top: 4px solid $theme-color;
  font-family: 'Roboto', sans-serif;;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 60rem;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

button {
  background: $button-color;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  border: 1px solid;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: .5rem;
  &:hover {
    background: darken($button-color, 10%);
  }
}

a {
  color: $link-color;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $link-color;
  }
}

.generated-fakemon {
  padding: 1rem;
}

.ui {
  background: #eee;
  color: #222;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  &.type-single {
    border: 1px solid #666;
  }
  &.type1,
  &.type2 {
    border-color: #666;
    border-style: solid;
    width: 5rem;
  }
  &.height,
  &.weight {
    border: 1px solid #666;
  }
  &.type1 {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
  }
  &.type2 {
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    margin-left: -4px;
  }
  &.species {
    border: 1px solid #666;
    text-align: center;
    text-transform: capitalize;
    min-width: 22rem;
  }
  &.pokedex-entry {
    border: 1px solid #666;
    font-style: italic;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }
}

footer {
  text-align: center;
}
